<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dobos cel mai bun profesor</title>
  </head>
  <body>
    Salutare domnule Dobos
    <ul>
      {% for category in ad_filters %}
      <li>{{ category }}</li>
      <ul>
        {% for subcategory in ad_filters[category] %}
        <li>{{ subcategory }}</li>
        <ul>
          {% for title in ad_filters[category][subcategory] %}
          <li>{{ title }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </ul>
      {% endfor %}
    </ul>
  </body>
</html>
